<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img src="https://m.media-amazon.com/images/S/aplus-media/vc/57d5d69c-be83-4423-886c-a2a15ab01793.__CR0,0,1464,600_PT0_SX1464_V1___.jpg"
         class="d-block w-100"
         alt="..." />
    <div class="carousel-caption d-none d-md-block">
      <h5>G305 LIGHTSPEED Wireless Gaming Mouse</h5>
      <p>Express yourself with a variety of colors to match your playful spirit and personal style. It's loaded with advanced features like LIGHTSPEED wireless for fast and reliable performance, great battery life, and precise HERO optical sensor. The G305 is packed with fun and performance. </p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="https://m.media-amazon.com/images/S/aplus-media/vc/d0c1cd8b-ca59-4c9d-96a6-382d31af4d71.__CR0,0,1464,600_PT0_SX1464_V1___.jpg"
         class="d-block w-100"
         alt="..." />
    <div class="carousel-caption d-none d-md-block">
      <h5>ARCTIS 5 Designed exclusively for PC gaming </h5>
      <p>Specifically designed for the PC Gamer, Arctis 5 combines independent game and chat control, cutting-edge DTS surround sound, and dual zone RGB illumination to create the perfect audio solution for your battlestation.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/7b74ed61-c313-4ace-a83e-fe16c3aaa042.__CR0,0,1464,600_PT0_SX1464_V1___.jpg"
         class="d-block w-100"
         alt="..." />
    <div class="carousel-caption d-none d-md-block">
      <h5>LG UltraGear Innovation Beyond Boundaries</h5>
      <p>See your way to victory with breath-taking immersion on an UltraGear IPS gaming display with a 1ms response time.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
